.*.sw[a-z]
*~
*eps
sitios/
Make.inc
confaux.tmp
confv.copia
confv.php
confv.sh
dic.ispell
doc/HTML.index.m
doc/Make.inc
doc/confaux.sed
doc/confaux.tmp
doc/confv.copia
doc/confv.empty.bak
doc/confv.ent
doc/confv.sh
doc/docsivel-4.1.2.xdbk
doc/indice.xdbk
doc/indice.xdbk.m
doc/personaliza.ent
doc/html
modulos/mapag/vendor/
